services:
  {{ monitoring.freebox_exporter }}:
    image: ghcr.io/shackerd/freebox-exporter-rs:v0.0.24
    restart: unless-stopped
    user: "{{ docker_compose_uid }}:{{ docker_compose_gid }}"
    ports:
      - "{{ freebox_exporter_port }}:9102"
    volumes:
      - "{{ freebox_exporter_config_folder }}:/etc/freebox-exporter-rs"
      - "{{ freebox_exporter_docker_volumes.data }}:/data"
    command: ["/root/freebox-exporter-rs", "-c", "/etc/freebox-exporter-rs/config.toml" ,"auto"]
    networks:
      - {{ monitoring.network_name }}

networks:
  {{ monitoring.network_name }}:
    external: true