# Reference:
# https://github.com/caronc/apprise/wiki/config_yaml

version: 1

urls:
  # https://github.com/caronc/apprise/wiki/Notify_ntfy
  - ntfy://{{ ntfy.tokens.apprise }}@ntfy:80/alerts:
    - tag: alerts

  # https://github.com/caronc/apprise/wiki/Notify_smtp2go
  - smtp2go://{{ apprise.smtp2go.username }}@{{ apprise.smtp2go.domain }}/{{ apprise.smtp2go.apikey }}/{{ apprise.smtp2go.to }}?sender={{ apprise.smtp2go.sender | urlencode }}:
    - tag: email

  # https://github.com/caronc/apprise/wiki/Notify_freemobile
  - freemobile://{{ apprise.freemobile.user }}@{{ apprise.freemobile.apikey }}:
    - tag: sms
