---
homelab_services:
  adguard_home:
    domain: "adguardhome.{{ homelab_domain_name }}"

  grafana:
    domain: "grafana.{{ homelab_domain_name }}"

  homeassistant:
    domain: "ha.{{ homelab_domain_name }}"
    ip: "{{ homeassistant.ip }}"

  omada_controller:
    domain: "sdn.{{ homelab_domain_name }}"
    ip: "{{ hostvars['docker-host.local']['ansible_facts']['default_ipv4']['address'] }}"

  subsonic:
    domain: "music.{{ homelab_domain_name }}"
    ip: "192.168.1.76"
    port: "4040"

  traefik:
    domain: "traefik.{{ homelab_domain_name }}"

  authelia:
    domain: "auth.{{ homelab_domain_name }}"

  ntfy:
    domain: "ntfy.{{ homelab_domain_name }}"

  apprise:
    domain: "apprise.{{ homelab_domain_name }}"

  paperless_ngx:
    domain: "paperless.{{ homelab_domain_name }}"
  
  healthchecks:
    domain: "hc.{{ homelab_domain_name }}"
