apiVersion: 1
contactPoints:
    - orgId: 1
      name: Ntfy
      receivers:
        - uid: ef9ocu1di677ka
          type: webhook
          settings:
            authorization_credentials: '{{ ntfy_tokens.grafana }}'
            url: http://ntfy/alerts?template=grafana
          disableResolveMessage: false
policies:
    - orgId: 1
      receiver: Ntfy
      group_by:
        - grafana_folder
        - alertname
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 4h
