http:
  routers:
    homeassistant:
      rule: "Host(`{{ homelab_services.homeassistant.domain }}`)"
      entryPoints:
        - websecure
      service: homeassistant
      tls:
        certResolver: ovh

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "{{ homelab_services.homeassistant.backend.scheme }}://{{ homelab_services.homeassistant.backend.host }}:{{ homelab_services.homeassistant.backend.port }}"
