http:
  routers:
    homeassistant:
      rule: "Host(`{{ homelab_services.homeassistant.domain }}`)"
      entryPoints:
        - websecure
      service: homeassistant
      tls:
        certResolver: ovh

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://{{homeassistant.ip}}:{{homeassistant.port}}"
