http:
  routers:
    omada:
      rule: "Host(`{{ homelab_services.omada_controller.domain }}`)"
      entryPoints:
        - websecure
      service: omada
      tls:
        certResolver: ovh

  services:
    omada:
      loadBalancer:
        servers:
          - url: "https://{{ homelab_services.omada_controller.ip }}:8043"
        serversTransport: "insecure-transport"

  serversTransports:
    insecure-transport:
      insecureSkipVerify: true
