http:
  routers:
    subsonic:
      rule: "Host(`{{ homelab_services.subsonic.domain }}`)"
      entryPoints:
        - websecure
      service: subsonic
      tls:
        certResolver: ovh

  services:
    subsonic:
      loadBalancer:
        servers:
          - url: "{{ homelab_services.subsonic.backend.scheme }}://{{ homelab_services.subsonic.backend.host }}:{{ homelab_services.subsonic.backend.port }}"
