http:
  routers:
    subsonic:
      rule: "Host(`{{ homelab_services.subsonic.domain }}`)"
      entryPoints:
        - websecure
      service: subsonic
      tls:
        certResolver: ovh

  services:
    subsonic:
      loadBalancer:
        servers:
          - url: "http://{{ homelab_services.subsonic.ip }}:{{ homelab_services.subsonic.port }}"
