base-url: https://{{ homelab_services.ntfy.domain }}
cache-file: "/var/cache/ntfy/cache.db"
attachment-cache-dir: "/var/cache/ntfy/attachments"
behind-proxy: true
auth-file: "/var/lib/ntfy/user.db"
auth-default-access: "deny-all"
auth-users:
{% for user in ntfy_auth.users %}
  - {{ user.username }}:{{ user.password_hash }}:{{ user.role }}
{% endfor %}
auth-access:
{% for user in ntfy_auth.users %}
{% if user.access is defined %}
{% for access in user.access %}
  - {{ user.username }}:{{ access.topic }}:{{ access.permission }}
{% endfor %}
{% endif %}
{% endfor %}
auth-tokens:
{% for user in ntfy_auth.users %}
{% if user.tokens is defined %}
{% for token in user.tokens %}
  - {{ user.username }}:{{ token.token }}:{{ token.label }}
{% endfor %}
{% endif %}
{% endfor %}
enable-metrics: true
metrics-listen-http: ":9094"
