services:
  adguardhome:
    image: "adguard/adguardhome:v0.107.74"
    restart: unless-stopped
    user: "{{ docker_compose_uid }}:{{ docker_compose_gid }}"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - "{{ adguard_home_config_folder }}:/opt/adguardhome/conf"
      - "{{ adguard_home_docker_volumes.data.path }}:/opt/adguardhome/work"
    networks:
      - {{ docker_networks.traefik }}
      - {{ docker_networks.monitoring }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguard_home.rule=Host(`{{ homelab_services.adguard_home.domain }}`)"
      - "traefik.http.routers.adguard_home.entrypoints=websecure"
      - "traefik.http.routers.adguard_home.tls=true"
      - "traefik.http.routers.adguard_home.tls.certresolver=ovh"
      - "traefik.http.services.adguard_home.loadbalancer.server.port=80"
      - "traefik.docker.network={{ docker_networks.traefik }}"

networks:
  {{ docker_networks.traefik }}:
    external: true
  {{ docker_networks.monitoring }}:
    external: true
