services:
  {{ monitoring.omada_exporter }}:
    image: chhaley/omada_exporter:0.13.1
    restart: unless-stopped
    user: "{{ docker_compose_uid }}:{{ docker_compose_gid }}"
    ports:
      - "{{ omada_exporter_port }}:9202"
    environment:
      - OMADA_HOST={{ omada_exporter_controller_host }}
      - OMADA_USER=${OMADA_USER}
      - OMADA_PASS=${OMADA_PASS}
      - OMADA_SITE=Home
    networks:
      - {{ monitoring.network_name }}

networks:
  {{ monitoring.network_name }}:
    external: true
