global:
  scrape_interval: 15s  # Scrape metrics every 15 seconds

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    relabel_configs:
      - target_label: 'instance'
        replacement: '{{ inventory_hostname_short }}'
  - job_name: 'freebox'
    static_configs:
      - targets: ['{{ monitoring.freebox_exporter }}:9102']
    fallback_scrape_protocol: 'PrometheusText0.0.4'
    relabel_configs:
      - target_label: 'instance'
        replacement: 'freebox-delta'
  - job_name: 'omada-controller'
    static_configs:
      - targets: ['{{ monitoring.omada_exporter }}:9202']
    relabel_configs:
      - target_label: 'instance'
        replacement: '22A10E-Home'
  - job_name: 'integrations/unix'
    static_configs:
      - targets: ['{{ homeassistant.ip }}:{{ homeassistant.exporter.port }}']
    relabel_configs:
      - target_label: 'instance'
        replacement: 'homeassistant'
  - job_name: 'traefik'
    static_configs:
      - targets: ['traefik:8080']
    relabel_configs:
      - target_label: 'instance'
        replacement: '{{ inventory_hostname_short }}'
  - job_name: 'loki'
    static_configs:
      - targets: ['{{ monitoring.loki }}:3100']
    relabel_configs:
      - target_label: 'instance'
        replacement: '{{ inventory_hostname_short }}'
  - job_name: 'adguard-home'
    static_configs:
      - targets: ['{{ monitoring.adguard_home_exporter }}:9618']
    relabel_configs:
      - target_label: 'instance'
        replacement: '{{ inventory_hostname_short }}'
  - job_name: 'authelia'
    scheme: 'http'
    static_configs:
    - targets: ['authelia:9959']
    relabel_configs:
      - target_label: 'instance'
        replacement: '{{ inventory_hostname_short }}'
  - job_name: 'redis'
    static_configs:
      - targets: ['{{ monitoring.redis_exporter }}:9121']
    relabel_configs:
      - target_label: 'instance'
        replacement: '{{ inventory_hostname_short }}'
