---
- name: Create Traefik config directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ users.app_user.name }}"
    group: "{{ users.app_user.group }}"
    mode: '0750'
  loop:
    - "{{ traefik_config_folder }}"
    - "{{ traefik_config_folder }}/dynamic"
  become: true

- name: Deploy static config
  ansible.builtin.template:
    src: "traefik.yml.j2"
    dest: "{{ traefik_config_folder }}/traefik.yml"
    owner: '{{ users.app_user.name }}'
    group: '{{ users.app_user.group }}'
    mode: '0640'
  become: true

- name: Discover all dynamic config templates
  ansible.builtin.set_fact:
    traefik_dynamic_configs: "{{ lookup('fileglob', 'templates/dynamic/*.yml.j2', wantlist=True) }}"

- name: Deploy all discovered dynamic configs
  ansible.builtin.template:
    src: "dynamic/{{ item | basename }}"
    dest: "{{ traefik_config_folder }}/dynamic/{{ item | basename | regex_replace('.j2$', '') }}"
    owner: '{{ users.app_user.name }}'
    group: '{{ users.app_user.group }}'
    mode: '0640'
  loop: "{{ traefik_dynamic_configs }}"
  become: true

- name: Deploy Traefik
  ansible.builtin.include_role:
    name: docker_compose
  vars:
    docker_compose_stack_name: '{{ traefik_stack_name }}'
    docker_compose_volumes: '{{ traefik_docker_volumes.values() }}'
    docker_compose_use_env: true

- name: Ensure logrotate is installed
  ansible.builtin.package:
    name: logrotate
    state: present
  become: true

- name: Deploy Traefik logrotate config
  ansible.builtin.template:
    src: traefik.logrotate.j2
    dest: /etc/logrotate.d/traefik
    owner: root
    group: root
    mode: '0644'
  become: true
