---
apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://{{ monitoring.loki }}:3100
    basicAuth: false
    isDefault: false
    editable: false
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://{{ monitoring.prometheus }}:9090
    basicAuth: false    
    isDefault: true
    editable: false
    jsonData:
      prometheusType: Prometheus
      timeInterval: "{{ monitoring.scraping_interval }}"
