services:
  grafana:
    image: grafana/grafana-oss:11.5.1
    restart: unless-stopped
    user: "{{ users.app_user.uid }}:{{ users.app_user.gid }}"
    ports:
      - "{{ grafana_port }}:3000"
    volumes:
      - "{{ grafana_docker_volumes.data }}:/var/lib/grafana"
      - "{{ grafana_config_folders.provisioning }}:/etc/grafana/provisioning:ro"
    networks:
      - {{ monitoring.network_name }}

networks:
  {{ monitoring.network_name }}:
    external: true
