services:
  grafana:
    image: grafana/grafana-oss:13.0.1
    restart: unless-stopped
    user: "{{ docker_compose_uid }}:{{ docker_compose_gid }}"
    env_file:
      - .env
    volumes:
      - "{{ grafana_docker_volumes.data }}:/var/lib/grafana"
      - "{{ grafana_config_folders.provisioning }}:/etc/grafana/provisioning:ro"
    networks:
      - {{ docker_networks.monitoring }}
      - {{ docker_networks.traefik }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`{{ homelab_services.grafana.domain }}`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.routers.grafana.tls.certresolver=ovh"
      - "traefik.http.routers.grafana.middlewares=authelia@docker"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
      - "traefik.docker.network={{ docker_networks.traefik }}"

networks:
  {{ docker_networks.monitoring }}:
    external: true
  {{ docker_networks.traefik }}:
    external: true
