services:
  traefik:
    image: "traefik:v3.5.0"
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - "{{ traefik.network_name }}"
      - "{{ monitoring.network_name }}"
    env_file:
      - .env
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_docker_volumes.letsencrypt }}:/letsencrypt:rw"
      - "{{ traefik_config_folder }}:/etc/traefik:ro"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`{{ homelab_services.traefik.domain }}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=ovh"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.docker.network={{ traefik.network_name }}"

networks:
  {{ traefik.network_name }}:
    external: true
  {{ monitoring.network_name }}:
    external: true
