services:
  traefik:
    image: "traefik:v3.6.5"
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - "{{ traefik.network_name }}"
      - "{{ monitoring.network_name }}"
    env_file:
      - .env
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_docker_volumes.letsencrypt }}:/letsencrypt:rw"
      - "{{ traefik_config_folder }}:/etc/traefik:ro"
      - "{{ traefik_docker_volumes.logs }}:/logs:rw"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`{{ homelab_services.traefik.domain }}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=ovh"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=authelia@docker"
      - "traefik.http.middlewares.authelia.forwardAuth.address=http://authelia:9091/api/authz/forward-auth"
      - "traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader=true"
      - "traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Email,Remote-Name"
      - "traefik.docker.network={{ traefik.network_name }}"
      - "{{ traefik_logrotate_label }}"

networks:
  {{ traefik.network_name }}:
    external: true
  {{ monitoring.network_name }}:
    external: true
