services:
  {{ monitoring.redis_exporter }}:
    image: oliver006/redis_exporter:v1.81.0
    restart: unless-stopped
    user: "{{ docker_compose_uid }}:{{ docker_compose_gid }}"
    environment:
      - REDIS_ADDR=
      - REDIS_PASSWORD_FILE=/config/redis_passwords.json
    volumes:
      - "{{ redis_exporter_config_folder }}:/config:ro"
    networks:
      - {{ monitoring.network_name }}

networks:
  {{ monitoring.network_name }}:
    external: true
