services:
  {{ monitoring.loki }}:
    image: grafana/loki:3.7.2
    restart: unless-stopped
    user: '10001'
    ports:
      - "3100:3100"
    volumes:
      - "{{ loki_docker_volumes.data }}:/loki"
      - "{{ loki_config_folder }}/loki-config.yaml:/etc/loki/local-config.yaml:ro"
    networks:
      - {{ docker_networks.monitoring }}

networks:
  {{ docker_networks.monitoring }}:
    external: true
