services:
  {{ monitoring.loki }}:
    image: grafana/loki:3.5.4
    restart: unless-stopped
    user: '10001'
    ports:
      - "{{ loki_port }}:3100"
    volumes:
      - "{{ loki_docker_volumes.data }}:/loki"
      - "{{ loki_config_folder }}/loki-config.yaml:/etc/loki/local-config.yaml"
    networks:
      - {{ monitoring.network_name }}

networks:
  {{ monitoring.network_name }}:
    external: true
