---
- name: Setup
  hosts: all
  roles:
    - users
    - ufw
    - docker
    - docker_networks
    - cron

- name: Deploy Docker stacks
  hosts: all
  roles:
    - role: prometheus
      tags:
        - prometheus
    - role: loki
      tags:
        - loki
    - role: alloy
      tags:
        - alloy
    - role: grafana
      tags:
        - grafana
    - role: freebox_exporter
      tags:
        - freebox_exporter
    - role: omada_controller
      tags:
        - omada_controller
    - role: omada_exporter
      tags:
        - omada_exporter
    - role: adguard_home
      tags:
        - adguard_home
    - role: adguard_home_exporter
      tags:
        - adguard_home_exporter
    - role: traefik
      tags:
        - traefik
    - role: pronote2calendar
      tags:
        - pronote2calendar
    - role: authelia
      tags:
        - authelia
    - role: redis_exporter
      tags:
        - redis_exporter
    - role: crowdsec
      tags:
        - crowdsec
    - role: ntfy
      tags:
        - ntfy
