---
- name: Create Redis exporter config directory
  ansible.builtin.file:
    path: "{{ redis_exporter_config_folder }}"
    state: directory
    owner: "{{ users.app_user.name }}"
    group: "{{ users.app_user.group }}"
    mode: '0750'
  become: true

- name: Copy configuration
  ansible.builtin.template:
    src: 'redis_passwords.json.j2'
    dest: '{{ redis_exporter_config_folder }}/redis_passwords.json'
    owner: '{{ users.app_user.name }}'
    group: '{{ users.app_user.group }}'
    mode: '0640'
  become: true
  no_log: true
  register: redis_exporter_config_copy_result

- name: Deploy Redis Exporter
  ansible.builtin.include_role:
    name: docker_compose
  vars:
    docker_compose_stack_name: '{{ redis_exporter_stack_name }}'
    docker_compose_restart: '{{ redis_exporter_config_copy_result.changed }}'
