---
- name: Create Authelia config directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ users.app_user.name }}"
    group: "{{ users.app_user.group }}"
    mode: '0750'
  loop:
    - "{{ authelia_config_folder }}"
    - "{{ authelia_config_folder }}/secrets"
  become: true

- name: Copy configuration
  ansible.builtin.template:
    src: 'configuration.yml.j2'
    dest: '{{ authelia_config_folder }}/configuration.yml'
    owner: '{{ users.app_user.name }}'
    group: '{{ users.app_user.group }}'
    mode: '0640'
  become: true
  register: authelia_config_copy_result

- name: Copy secrets
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ authelia_config_folder }}/secrets/{{ item | basename }}"
    mode: '0600'
  with_fileglob:
    - "files/secrets/*"
  become: true
  no_log: true
  register: authelia_secrets_copy_result

- name: Copy user list
  ansible.builtin.template:
    src: 'users.yml.j2'
    dest: '{{ authelia_config_folder }}/users.yml'
    owner: '{{ users.app_user.name }}'
    group: '{{ users.app_user.group }}'
    mode: '0640'
  become: true
  register: authelia_users_copy_result

- name: Check if Authelia compose file exists
  ansible.builtin.stat:
    path: '{{ docker_compose_dir }}/{{ authelia_stack_name }}/compose.yaml'
  register: authelia_compose_file

- name: Stop Authelia if config changed
  community.docker.docker_compose_v2:
    project_src: '{{ docker_compose_dir }}/{{ authelia_stack_name }}'
    state: stopped
  become: true
  when:
    - authelia_config_copy_result.changed
      or (authelia_secrets_copy_result.results | selectattr('changed', 'defined') | selectattr('changed', 'equalto', true) | list | length > 0)
      or authelia_users_copy_result.changed
    - authelia_compose_file.stat.exists
    - ansible_check_mode is false

- name: Deploy Authelia
  ansible.builtin.include_role:
    name: docker_compose
  vars:
    docker_compose_stack_name: '{{ authelia_stack_name }}'
    docker_compose_volumes: '{{ authelia_docker_volumes.values() }}'
