{
    "pronote": {
        "connection_type": "token",
        "account_type": "parent",
        "child": "{{ pronote2calendar.child_name }}"
    },
    "google_calendar": {
        "calendar_id": "{{ pronote2calendar.calendar_id }}"
    },
    "max_days": 30
}
