---
- name: Deploy paperless-ngx
  ansible.builtin.include_role:
    name: docker_compose
  vars:
    docker_compose_stack_name: '{{ paperless_ngx_stack_name }}'
    docker_compose_volumes: '{{ paperless_ngx_docker_volumes.values() }}'
    docker_compose_use_env: true
