---
- name: Create configuration directory
  ansible.builtin.file:
    path: '{{ paperless_ngx_config_folder }}'
    state: directory
    owner: '{{ users.app_user.name }}'
    group: '{{ users.app_user.group }}'
    mode: '0750'
  become: true

- name: Create SMB credentials file
  ansible.builtin.copy:
    content: |
      username={{ paperless_ngx_smb_share.username }}
      password={{ paperless_ngx_smb_share.password }}
      domain={{ paperless_ngx_smb_share.domain }}
    dest: '{{ paperless_ngx_config_folder }}/smb_creds'
    mode: '0600'
    owner: root
    group: root
  become: true

- name: Get UID and GID of app_user for SMB mount
  ansible.builtin.getent:
    database: passwd
    key: "{{ users.app_user.name }}"

- name: Set UID and GID in variables
  ansible.builtin.set_fact:
    paperless_ngx_uid: "{{ ansible_facts.getent_passwd[users.app_user.name][1] }}"
    paperless_ngx_gid: "{{ ansible_facts.getent_passwd[users.app_user.name][2] }}"

- name: Mount SMB share on host
  ansible.posix.mount:
    path: /mnt/paperless
    src: "{{ paperless_ngx_smb_share.path }}"
    fstype: cifs
    opts: "credentials={{ paperless_ngx_config_folder }}/smb_creds,vers=3.0,uid={{ paperless_ngx_uid }},gid={{ paperless_ngx_gid }},file_mode=0777,dir_mode=0777"
    state: mounted
  become: true

- name: Copy Redis configuration
  ansible.builtin.template:
    src: 'redis.conf.j2'
    dest: '{{ paperless_ngx_config_folder }}/redis.conf'
    owner: '{{ users.app_user.name }}'
    group: '{{ users.app_user.group }}'
    mode: '0600'
  become: true
  no_log: true
  register: paperless_ngx_redis_config_copy_result

- name: Deploy paperless-ngx
  ansible.builtin.include_role:
    name: docker_compose
  vars:
    docker_compose_stack_name: '{{ paperless_ngx_stack_name }}'
    docker_compose_volumes: '{{ paperless_ngx_docker_volumes.values() }}'
    docker_compose_use_env: true
    docker_compose_restart: '{{ paperless_ngx_redis_config_copy_result.changed }}'
