server:
  endpoints:
    authz:
      forward-auth:
        implementation: 'ForwardAuth'

authentication_backend:
  password_reset:
    disable: true
  password_change:
    disable: true
  file:
    path: '/config/users.yml'

access_control:
  default_policy: deny
  rules:
    - domain: '*.{{ homelab_domain_name }}'
      policy: two_factor

session:
  cookies:
    - domain: '{{ homelab_domain_name }}'
      authelia_url: 'https://{{ homelab_services.authelia.domain }}'
  redis:
    host: 'authelia_redis'
    port: 6379

storage:
  local:
    path: /data/db.sqlite3

notifier:
  smtp:
    address: 'smtp://mail.smtp2go.com:2525'
    username: {{ authelia_smtp.username }}
    sender: {{ authelia_smtp.sender }}

telemetry:
  metrics:
    enabled: true
