services:
  crowdsec:
    image: "crowdsecurity/crowdsec:v1.7.4"
    restart: unless-stopped
    networks:
      - "{{ traefik.network_name }}"
      - "{{ monitoring.network_name }}"
    volumes:
      - "{{ crowdsec_docker_volumes.db }}:/var/lib/crowdsec/data/"
      - "{{ crowdsec_docker_volumes.config }}:/etc/crowdsec/"
      - "{{ traefik.log_folder }}:/var/log/traefik:ro"
    environment:
      - COLLECTIONS=crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/base-http-scenarios

networks:
  {{ traefik.network_name }}:
    external: true
  {{ monitoring.network_name }}:
    external: true