services:
  crowdsec:
    image: "crowdsecurity/crowdsec:v1.7.8"
    restart: unless-stopped
    user: "{{ docker_compose_uid }}:{{ docker_compose_gid }}"
    networks:
      - "{{ docker_networks.traefik }}"
      - "{{ docker_networks.monitoring }}"
    volumes:
      - "{{ crowdsec_docker_volumes.db }}:/var/lib/crowdsec/data/"
      - "{{ crowdsec_docker_volumes.config }}:/etc/crowdsec/"
      - "{{ traefik.log_folder }}:/var/log/traefik:ro"
    environment:
      - COLLECTIONS=crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/base-http-scenarios crowdsecurity/appsec-generic-rules crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-crs

networks:
  {{ docker_networks.traefik }}:
    external: true
  {{ docker_networks.monitoring }}:
    external: true